html, body, .main-layout {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: sans-serif;
    padding: 32px;
    background-color: #f4f4f9;
    color: #333;
}

.main-layout {
    display: flex;
    gap: 32px;
}

.left-column {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.right-column {
    flex-grow: 1;
}

.container {
    padding: 32px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 1rem;
}

h1 {
    color: #444;
    margin-top: 0;
}

#drop-zone {
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 32px;
    text-align: center;
    cursor: pointer;
    background-color: #fafafa;
    transition: background-color 0.2s, border-color 0.2s;
}

#drop-zone.dragover {
    background-color: #e9e9e9;
    border-color: #aaa;
}

input[type="file"] {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#download-link {
    display: none; /* Initially hidden */
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
}

#download-link:hover {
    background-color: #0056b3;
}

.limitations-container {
    font-size: 0.8rem;
    color: #666;
    margin-top: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.limitations-container h3 {
    margin-top: 0;
    color: #555;
}

.limitations-container ul {
    padding-left: 1.2rem;
}

@media (max-width: 768px) {
    .main-layout {
        flex-direction: column;
    }

    .left-column {
        width: 100%;
    }
}

#spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


